@charset "utf-8";
#banner {
	width: 1024px;
	height: 200px;
	background-color: #5C5C5C;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	text-align: center;
	font-weight: lighter;
}
p {
	text-align: center;
}
nav {

}
